{% extends 'base.html.twig' %}

{% block title %}Book Gallery{% endblock %}

{% block content %}
    <div class="row">
            <div class="col-md-1"></div>
            <div class="col-12 col-md-10 ">
                <div class="col-1"></div>
                <div class="col-11 col-md-12 ">
                    <div id="title" class="h1 title">Omegatitulo</div>
                </div>

                <div id="filters" class="col-12 col-md-12 text-center">
                    Filtros
                </div>

                <div class="col-12 col-md-12 " id="bookGalerys">
                    {% for i in 0..(images|length - 1) %}
                        <img src="{{ asset('image/' ~ images[i]) }}" class="bookGalery"/>
                        <!-- <a href="book/{{ books[i].getId() }}"> Link </a> <-->
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
{% endblock %}
