{% extends 'base.html.twig' %}

{% block title %}Book Gallery{% endblock %}

{% block content %}

        <section class="section section-lg bg-default">
        <div class="container">
          <!-- Owl Carousel-->
            <div class="owl-carousel owl-2" data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="4" data-xl-items="5" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="false" data-margin="30" data-mouse-drag="false">
            
                {% if images|length > 0 %}
                    {% for i in 0..(images|length - 1) %}
                        <a class="link-image" href="book/{{ books[i].getId() }}">
                            <img src="{{ asset('image/images/' ~ images[i]) }}" alt="" class="bookGalery" width="228" height="162"/>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
      </section>
{% endblock %}
